{{extend 'layout.html'}}
<table>
    <tr>
        <td>
            <input type=radio name="display" value="basic" checked>Basic
        </td>
        <td>
            <input type=radio name="display" value="detail">Detail
        </td>
        <td>
            <input type=radio name="display" value="advanced">Advanced
        </td>
    </tr>
</table>
<table>
    <tr>
        <td id="basic" valign=top>{{=response.basic or ''}}</td>
        <td id="detail" valign=top style="display:none">{{=response.detail or ''}}</td>
    </tr>
    <tr>
        <td id="advanced" colspan=2 valign=top style="display:none">Advanced</td>
    </tr>
</table>
{{=response.dialogs or ''}}